{{ define "footer" }}
{{- range $link := .FooterScripts}}
  {{template "script" $link }}
{{- end}}
{{- if .FooterExtraScript }}
<script>{{ jsSafe .FooterExtraScript }}
</script>
{{- end }}
</body>
</html>
{{ end }}
